.top_menu{max-width: 100%; height: 75px; text-align: center; }
.top_menu header{
    width: 1600px; margin: 0 auto; 
    display: flex; flex-flow: row nowrap; align-items: center; justify-content: space-between;
    padding: 15px;
}
.top_menu header a h1{}
.top_menu header a h1 img{}
.top_menu header .main_menu{display: flex; flex-flow: row nowrap;  }
.top_menu header .main_menu li{padding-right: 40px;}
.top_menu header .main_menu li:last-child{padding-right: 0px;}
.top_menu header .login_container{display: flex; flex-flow: row nowrap; align-items: center;}
.top_menu header .login_container .login_menu{display: flex; flex-flow: row nowrap;}
.top_menu header .login_container .login_menu li{
    padding-right: 14px;
}
.top_menu header .login_container .login_menu li a{font-size:0.875rem; color: #4a4a4a;}
.top_menu header .login_container .login_menu li:last-child{padding-right: 16px; border-right: 1px solid #4a4a4a;}
.top_menu header .login_container a{padding-left: 15px;}
.top_menu header .login_container a img{}

/* -----------------------------------------------------------------------------------------------------------------------↑헤더 */
/* footer  */
.footer_bg {background-color: #222; width: 100%; height: 300px;}
.footer_bg footer{width: 1600px; margin: 0 auto;}
.footer_bg footer .top_menu{display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: center; border-bottom: 1px solid #fff;}
.footer_bg footer .top_menu ul{display: flex; flex-flow: row nowrap; }
.footer_bg footer .top_menu ul li{padding-right: 29px; margin-top: 5px; }
.footer_bg footer .top_menu ul li:last-child{padding-right: 0px; }
.footer_bg footer .top_menu ul li a{font-size:1.125rem; color: #fff; font-weight: 600;}
.footer_bg footer .top_menu a{}
.footer_bg footer .top_menu a em{font-size:1.125rem; color: #fff; font-weight: 600;}
.footer_bg footer .top_menu a img{position: relative; top: 4px; padding-left: 18px; font-weight: 600;}
.footer_bg footer address{display: flex; flex-flow: row nowrap; justify-content: space-between; padding-top: 33px;}
.footer_bg footer address p{color: #fff; line-height: 1.4;}
.footer_bg footer address em{color: #fff;}
.footer_bg footer address .call_number{display: flex; flex-flow: row nowrap; text-align: center;}
.footer_bg footer address .call_number .call_center{}
.footer_bg footer address .call_number .call_center p{font-size:1.125rem; font-weight: 600;padding-bottom: 10px;}
.footer_bg footer address .call_number .call_center em{font-size:1.75rem; font-weight: 600;}
.footer_bg footer address .call_number .franchise {padding-left: 32px;}
.footer_bg footer address .call_number .franchise p{font-size:1.125rem; font-weight: 600;padding-bottom: 10px;}
.footer_bg footer address .call_number .franchise em{font-size:1.75rem; font-weight: 600;}
.footer_bg footer .sns_url{padding-top:32px;}
.footer_bg footer .sns_url a{padding-right: 17px;}
.footer_bg footer .sns_url a img{}
/* footer 종료 */