/* main */
/* 메인배너 시작*/
main{}
main .slides_wrap{}
main .slides_wrap{}
main .slides_wrap .slide1{}
main .slides_wrap .slide1 .contents{
    background-image: url(../images/bnr001.png);
    width: 100%; height: 850px;
}
main .slides_wrap .slide1 .contents h2{color: #fff; font-size: 3.125rem; font-weight: 700; padding-top:287px; padding-left: 251px;}
main .slides_wrap .slide1 .contents p{
    padding-top: 20px;
    color: #fff; font-size:1.5rem; font-weight: 500;
    padding-left: 251px;
}
/* 배너 이전광고 버튼 / 다음광고 버튼 */
main .slides_wrap .bnr_left_btn{position:absolute; left:86px; top: 50%;}
main .slides_wrap .bnr_left_btn img{}
main .slides_wrap .bnr_right_btn{position:absolute; right:86px; top: 50%;}
main .slides_wrap .bnr_right_btn img{}
/*배너 진행 상태 확인 오브젝트 */
main .bnr_progress_obj {display: flex; flex-flow: row nowrap; justify-content: center; position: relative;}
main .bnr_progress_obj p:hover::after{
    content: ''; display: block; background-color: #fff; width: 16px; height: 8px; border-radius: 10px;
}
main .bnr_progress_obj p::after{
    content: ''; display: block; background-color: #4b4b4b; width: 8px; height: 8px; border-radius: 50%;
    position: relative; bottom: 76px; margin-right: 47px;
}
main .bnr_progress_obj p:last-child{padding-right: 0px;}
main .bnr_progress_obj p img{}
/* 베스트 상품 시작 */
main .best_item{
    max-width:1600px; margin: 0 auto; padding-top: 80px;
}
main .best_item h2{font-size:2.5rem; font-weight: 700; padding-bottom: 37px; border-bottom: 1px solid #f5f5f5;}
main .best_item .best_content {
    padding-top: 55px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
/* 베스트 상품 공통 */
main .best_item .best_content .best {}
main .best_item .best_content .best a {position: relative;}
main .best_item .best_content .best a span{font-size:0.875rem; border: 1px solid #fff; border-radius: 8px;}
main .best_item .best_content .best a img {}
main .best_item .best_content .best .item_font {text-align: center;}
main .best_item .best_content .best .item_font h3 {text-align: center; font-size:1.25rem; font-weight: 500; padding: 38px 0 10px 0;}
main .best_item .best_content .best .item_font em {font-size:1.375rem; font-weight: 500; text-align: center;display: block;}
/* 베스트 상품 공통 종료 */
main .best_item .best_content .item1 {}
main .best_item .best_content .item1 a {}
main .best_item .best_content .item1 a img {}
main .best_item .best_content .item1 a span {
    position: absolute; bottom: 16px; right:19px;  padding: 5px 10px;
    color: #fff;
}
main .best_item .best_content .item1 .item_font {}
main .best_item .best_content .item1 .item_font h3 {}
main .best_item .best_content .item1 .item_font em {}
main .best_item .best_content .item2 {}
main .best_item .best_content .item2 a {}
main .best_item .best_content .item2 a img {}
main .best_item .best_content .item2 a span {
    position: absolute; bottom: 16px; right:19px;  padding: 5px 10px;
    color: #fff;
}
main .best_item .best_content .item2 .item_font {}
main .best_item .best_content .item2 .item_font h3 {}
main .best_item .best_content .item2 .item_font em {}
main .best_item .best_content .item3 {}
main .best_item .best_content .item3 a {}
main .best_item .best_content .item3 a img {}
main .best_item .best_content .item3 a span {
    position: absolute; bottom: 16px; right:19px;  padding: 5px 10px;
    color: #000;
    border: 1px solid #000; 
}
main .best_item .best_content .item3 .item_font {}
main .best_item .best_content .item3 .item_font h3 {}
main .best_item .best_content .item3 .item_font em {}
/* 베스트 상품 종료 */
/* 카테고리 상품 */
main .category_best{max-width:1600px; margin: 0 auto; padding-top: 80px;}
main .category_best h2{font-size:2.5rem; font-weight: 700;}
main .category_best .category_btn{}
main .category_best .category_btn li{padding: 50px 0 76px 0; }
main .category_best .category_btn li a{
    margin-right: 10px;
    font-size:1.25rem;
    padding: 15px 30px;
    border-radius: 50px; border: 1px solid #aaa;
    color: #aaa;
}
main .category_best .category_btn li a:hover{background-color: #000; border: #000; color: #fff;}
main .category_best .category_contents{
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}

main .category_best .category_contents .category{
    display: flex; flex-flow: column nowrap;
    
}
main .category_best .category_contents .category a {text-align: center;}
main .category_best .category_contents .category a img{}
main .category_best .category_contents .category h3{text-align: center; font-size:1.25rem; font-weight: 500; color:#282828; padding-top: 20px;}
main .category_best .category_contents .category .txt{display: flex; flex-flow: column nowrap; padding-top: 20px;}
main .category_best .category_contents .category .txt del{font-size:1.25rem; color: #aaa;}
main .category_best .category_contents .category .txt .main_price {padding-top: 20px;}
main .category_best .category_contents .category .txt .main_price em{font-size:1.375rem; padding-right: 20px; }
main .category_best .category_contents .category .txt .main_price .sale_persent{font-size: 1.5625rem; color: #FF2E31;}
/* 카테고리 상품 종료 */
/* 이벤트 */
main .event_container{position: relative; padding-bottom: 163px;}
main .event_container .event_contents{
    max-width:1600px; margin: 0 auto; padding-top: 143px;
    display: flex; justify-content: space-between;
}
main .event_container .event_contents a{}
main .event_container .event_contents a img{}
main .event_container .event_bnr_left {position:absolute; left:86px; top: 50%;}
main .event_container .event_bnr_left img{}
main .event_container .event_bnr_right {position:absolute; right:86px; top: 50%;}
main .event_container .event_bnr_right img{}
/* 이벤트 종료 */
/* 메인배너 종료*/
